.footer {
    background: #252C33;
    border-top: 1px solid #D3AF37;

    .footer-main {
        display: flex;
        justify-content: space-around;

        .footer-block {
            h1 {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                // color: #D3AF37;
                color: #ffff;
            }

            p {
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                // color: #D3AF37;
                color: #ffff;
            }

            ul {
                li {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    // color: #D3AF37;
                    color: #ffff;
                    list-style-type: none;
                    margin-top: 20%;
                }
                li:hover{
                    color: #D3AF37;
                    transition: 1s;
                }
            }
        }
    }

    .footer-last {
        display: flex;
        padding-top: 5%;
        padding-bottom: 3%;
        p {
            width: 60%;
            text-align: right;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: #D3AF37;
            // color: #ffff;
        }

        .media {
            width: 35%;
            display: flex;
            justify-content: space-around;
            align-items: end;
            padding-left: 20%;
        }
    }


}